nav {
  align-items: center;
  background-color: darkslategray;
  color: white;
  display: flex;
  justify-content: space-around;
}

nav > * {
  color: white;
  text-decoration: none;
}

.nav-links {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  list-style: none;
  width: 50%
}

.nav-links > * {
  color: white;
  padding-left: 10px;
  text-decoration: none;
}

#page {
  display: flex;
}

.socials {
  background-color: aquamarine;
  display:flex;
  flex-direction: column;
  height: 100%;
  position: fixed;
  width: 2vw;
}

#content {
  background-color: burlywood;
  margin-left: 2vw;
}