nav {
  align-items: center;
  background-color: darkslategray;
  color: white;
  display: flex;
  justify-content: space-around;
}

nav > * {
  color: white;
  text-decoration: none;
}

.nav-links {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  list-style: none;
  width: 50%
}

.nav-links > * {
  color: white;
  padding-left: 10px;
  text-decoration: none;
}